.blog-headline {
  padding-top: 14px;
  padding-bottom: 22px;
  position: relative;
  z-index: 10;
  background: #f1f1f1;
}

.blog-headline__title {
  font-weight: bold;
  font-size: 60px;
  line-height: 1;
  color: #215578;
  margin: 0;

  @include below(lg) {
    font-size: 48px;
  }
}

.blog-body {
  background: linear-gradient(to bottom, #f1f1f1 0, #f1f1f1 60px, #f6f6f6 60px, #f6f6f6 100%);
  position: relative;
  z-index: 20;
  padding-bottom: 30px;
}

.blog-layout {
  display: flex;
  margin-left: -30px;

  @include below(lg) {
    margin-left: -20px;
  }
}

.blog-layout__content {
  padding-left: 30px;
  width: calc(100% / 3 * 2);

  @include below(lg) {
    padding-left: 20px;
  }

  @include below(md) {
    width: 100%;
  }
}

.blog-layout__side {
  position: relative;
  padding-left: 30px;
  width: calc(100% / 3);

  @include below(lg) {
    padding-left: 20px;
  }

  @include below(md) {
    display: none;
  }
}

.blog-layout__side-sicky {
  position: sticky;
  top: calc(88px + 25px);
}

.blog-grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;

  @include below(lg) {
    margin-left: -20px;
    margin-top: -20px;
  }
}

.blog-grid__cell {
  padding-left: 30px;
  padding-top: 30px;
  width: 50%;

  @include below(lg) {
    padding-left: 20px;
    padding-top: 20px;
  }

  @include below(sm) {
    width: 100%;
  }
}

.blog-card {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.07);
  position: relative;

  &:hover {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.15);    
  }
}

.blog-card__image {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.blog-card__body {
  padding: 24px 32px 21px;

  @include below(lg) {
    padding: 20px;
  }
}

.blog-card__date {
  color: #9a9a9a;
  font-size: 14px;
  line-height: 1;
  position: relative;
  padding-left: 25px;

  @include below(lg) {
    font-size: 12px;
  }
}

.blog-card__date::before {
  content: '';
  width: 15px;
  height: 16px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='15px' height='16px'%3E%3Cpath fill-rule='evenodd' fill='rgb(153, 153, 153)' d='M0.0,15.999 L0.0,0.999 L1.999,0.999 L1.999,2.999 L4.999,2.999 L4.999,0.999 L9.999,0.999 L9.999,2.999 L12.999,2.999 L12.999,0.999 L14.999,0.999 L14.999,15.999 L0.0,15.999 ZM13.999,3.999 L0.999,3.999 L0.999,14.999 L13.999,14.999 L13.999,3.999 ZM2.999,5.999 L1.999,5.999 L1.999,4.999 L2.999,4.999 L2.999,5.999 ZM2.999,7.999 L1.999,7.999 L1.999,6.999 L2.999,6.999 L2.999,7.999 ZM2.999,9.999 L1.999,9.999 L1.999,8.999 L2.999,8.999 L2.999,9.999 ZM2.999,11.999 L1.999,11.999 L1.999,10.999 L2.999,10.999 L2.999,11.999 ZM2.999,13.999 L1.999,13.999 L1.999,12.999 L2.999,12.999 L2.999,13.999 ZM4.999,5.999 L3.999,5.999 L3.999,4.999 L4.999,4.999 L4.999,5.999 ZM4.999,7.999 L3.999,7.999 L3.999,6.999 L4.999,6.999 L4.999,7.999 ZM4.999,9.999 L3.999,9.999 L3.999,8.999 L4.999,8.999 L4.999,9.999 ZM4.999,11.999 L3.999,11.999 L3.999,10.999 L4.999,10.999 L4.999,11.999 ZM4.999,13.999 L3.999,13.999 L3.999,12.999 L4.999,12.999 L4.999,13.999 ZM6.999,5.999 L5.999,5.999 L5.999,4.999 L6.999,4.999 L6.999,5.999 ZM6.999,7.999 L5.999,7.999 L5.999,6.999 L6.999,6.999 L6.999,7.999 ZM6.999,9.999 L5.999,9.999 L5.999,8.999 L6.999,8.999 L6.999,9.999 ZM6.999,11.999 L5.999,11.999 L5.999,10.999 L6.999,10.999 L6.999,11.999 ZM6.999,13.999 L5.999,13.999 L5.999,12.999 L6.999,12.999 L6.999,13.999 ZM8.999,5.999 L7.999,5.999 L7.999,4.999 L8.999,4.999 L8.999,5.999 ZM8.999,7.999 L7.999,7.999 L7.999,6.999 L8.999,6.999 L8.999,7.999 ZM8.999,9.999 L7.999,9.999 L7.999,8.999 L8.999,8.999 L8.999,9.999 ZM8.999,11.999 L7.999,11.999 L7.999,10.999 L8.999,10.999 L8.999,11.999 ZM8.999,13.999 L7.999,13.999 L7.999,12.999 L8.999,12.999 L8.999,13.999 ZM10.999,5.999 L9.999,5.999 L9.999,4.999 L10.999,4.999 L10.999,5.999 ZM10.999,7.999 L9.999,7.999 L9.999,6.999 L10.999,6.999 L10.999,7.999 ZM10.999,9.999 L9.999,9.999 L9.999,8.999 L10.999,8.999 L10.999,9.999 ZM10.999,11.999 L9.999,11.999 L9.999,10.999 L10.999,10.999 L10.999,11.999 ZM12.999,5.999 L11.999,5.999 L11.999,4.999 L12.999,4.999 L12.999,5.999 ZM12.999,7.999 L11.999,7.999 L11.999,6.999 L12.999,6.999 L12.999,7.999 ZM12.999,9.999 L11.999,9.999 L11.999,8.999 L12.999,8.999 L12.999,9.999 ZM12.999,11.999 L11.999,11.999 L11.999,10.999 L12.999,10.999 L12.999,11.999 ZM10.999,0.0 L11.999,0.0 L11.999,1.999 L10.999,1.999 L10.999,0.0 ZM2.999,0.0 L3.999,0.0 L3.999,1.999 L2.999,1.999 L2.999,0.0 Z'/%3E%3C/svg%3E");
}

.blog-card__title {
  margin-top: 12px;
  color: #000;
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;

  a {
    text-decoration: none;
    color: inherit;
    display: inline-block;

    &::after {
      content: '';
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 10;
      position: absolute;
    }
  }

  @include below(lg) {
    font-size: 18px;
    line-height: 22px;
  }
}

.blog-card__excerpt {
  color: #000;
  font-size: 16px;
  line-height: 22px;
  margin-top: 28px;

  p {
    margin: 0;
  }

  p + p {
    margin-top: 12px;
  }

  @include below(lg) {
    font-size: 14px;
    line-height: 18px;
    margin-top: 16px;
  }
}

.blog-card__tags {
  border-top: 1px solid #e4e5ea;
  padding-left: 44px;
  padding-bottom: 16px;
  padding-top: 14px;
  padding-right: 44px;
  position: relative;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  position: relative;
  z-index: 20;

  a {
    padding: 0 2px;
    text-decoration: none;
    color: #7f7f7f;

    &:hover {
      color: #fff;
      background: #225a7e;
    }
  }

  @include below(lg) {
    padding: 10px 24px;
    font-size: 11px;
    line-height: 16px;
  }
}

.blog-card__tags::before {
  content: '';
  width: 13px;
  height: 12px;
  position: absolute;
  left: 25px;
  top: 18px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='13px' height='12px'%3E%3Cpath fill-rule='evenodd' fill='rgb(144, 144, 144)' d='M13.13,0.816 C13.13,0.373 12.652,0.14 12.206,0.14 L8.672,0.14 C8.540,0.14 8.417,0.46 8.307,0.100 C8.183,0.146 8.66,0.219 7.966,0.318 L1.249,6.989 C0.880,7.356 0.880,7.951 1.249,8.317 L4.650,11.695 C5.19,12.62 5.617,12.62 5.987,11.695 L12.704,5.23 C12.841,4.887 12.928,4.719 12.963,4.542 C12.995,4.456 13.13,4.361 13.13,4.263 L13.13,0.816 ZM10.184,2.820 C9.868,2.505 9.868,1.995 10.184,1.680 C10.501,1.365 11.15,1.365 11.332,1.680 C11.649,1.995 11.649,2.505 11.332,2.820 C11.15,3.134 10.501,3.134 10.184,2.820 Z'/%3E%3C/svg%3E");

  @include below(lg) {
    left: 5px;
    top: 14px;
  }
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  border-top: 1px solid #e4e5ea;
  margin-top: 20px;
  .nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .page-numbers {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin: 0 8px;
    border-radius: 50%;
    color: #000;
    font-size: 16px;
    line-height: 1;
    border-radius: 50%;
  }
  .page-numbers:hover {
    background: #ababab;
    color: #fff;
  }
  .page-numbers.current {
    width: 42px;
    height: 42px;
    font-size: 24px;
    color: #fff;
    background: #2e82b9;
    font-weight: bold;
  }
  .page-numbers.prev {
    position: relative;
    &::after {
      content: '';
      width: 8px;
      height: 8px;
      border-left: 1px solid currentColor;
      border-bottom: 1px solid currentColor;
      position: absolute;
      top: 50%;
      left: calc(50% - 4px);
      transform: translate(-50%,-50%) rotate(45deg);
    }
    &::before {
      content: '';
      height: 1px;
      width: 16px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: currentColor;
    }
  }
  .page-numbers.next {
    position: relative;
    &::after {
      content: '';
      width: 8px;
      height: 8px;
      border-right: 1px solid currentColor;
      border-bottom: 1px solid currentColor;
      position: absolute;
      top: 50%;
      left: calc(50% + 4px);
      transform: translate(-50%,-50%) rotate(-45deg);
    }
    &::before {
      content: '';
      height: 1px;
      width: 16px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: currentColor;
    }
  }
}

