.formwork-advantages {

}

.formwork-advantages__headline {
  border-top: 1px solid #d5d6d7;
  padding-top: 70px;
  margin-bottom: 70px;
  text-align: center;
}

.formwork-advantages__headline-first {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 36px;
  color: #6b6b6b;
  letter-spacing: 0.1em;
  line-height: 1;
}

.formwork-advantages__headline-second {
  font-weight: 800;
  color: #0d5c97;
  font-size: 36px;
  line-height: 1;
}

.formwork-advantages__headline-third {
  color: #6b6b6b;
  font-size: 16px;
  line-height: 1;
  letter-spacing: -0.025em;
}

.formwork-advantages__items {

}

.formwork-advantages__grid {

}

.formwork-advantages__grid-cell {

}

.formwork-advantages-item {

}

.formwork-advantages-item__icon {

}

.formwork-advantages-item__body {

}

.formwork-advantages-item__title {

}

.formwork-advantages-item__description {

}
