.formwork-advantages {
  padding-bottom: 100px;
}

.formwork-advantages__headline {
  border-top: 1px solid #d5d6d7;
  padding-top: 71px;
  margin-bottom: 73px;
  text-align: center;
}

.formwork-advantages__headline-first {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 36px;
  color: #6b6b6b;
  letter-spacing: 0.1em;
  line-height: 1;
}

.formwork-advantages__headline-second {
  font-weight: 800;
  color: #0d5c97;
  font-size: 36px;
  line-height: 1;
}

.formwork-advantages__headline-third {
  color: #6b6b6b;
  font-size: 16px;
  line-height: 1;
  letter-spacing: -0.025em;
  margin-top: 12px;
}

.formwork-advantages__items {

}

.formwork-advantages__grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -50px;
  margin-top: -70px;
}

.formwork-advantages__grid-cell {
  padding-left: 50px;
  padding-top: 70px;
  width: 50%;
}

.formwork-advantages-item {
  display: flex;
}

.formwork-advantages-item__icon {
  width: 84px;
  height: 84px;
  flex-shrink: 0;
  background: #0d5c97;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 22px;

  @include below(md) {
    width: 64px;
    height: 64px;
    margin-right: 12px;
  }
}

.formwork-advantages-item__body {

}

.formwork-advantages-item__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #000;

  @include below(md) {
    font-size: 18px;
    line-height: 20px;
  }
}

.formwork-advantages-item__description {
  font-size: 18px;
  line-height: 22px;
  color: #000;
  margin-top: 9px;

  @include below(md) {
    font-size: 16px;
    line-height: 18px;
    margin-top: 5px;
  }
}
