@import 'responsive';

.get-estimate {
  background: #07517e url('../images/bg-get-estimate.jpg') no-repeat 50% 50%;
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 52px;

  @include below(sm) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.get-estimate__container {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.get-estimate__title {
  font-size: 48px;
  color: #fff;
  line-height: 1;
  margin-bottom: 30px;
  margin-top: 0;
  font-weight: bold;
  max-width: 860px;

  @include below(md) {
    font-size: 32px;
    max-width: 600px;
  }

  @include below(sm) {
    max-width: 440px;
    font-size: 24px;
    line-height: 0.875;
  }
}

.get-estimate__title::after {
  content: '';
  height: 4px;
  width: 110px;
  background: #ffffff;
  display: block;
  margin-top: 32px;

  @include below(sm) {
    width: 90px;
    height: 3px;
  }
}

.get-estimate__layout {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include below(sm) {
    flex-direction: column;
  }
}

.get-estimate__layout-expert {
  width: 550px;

  @include below(md) {
    width: 380px;
    padding-right: 40px;
  }

  @include below(sm) {
    width: 100%;
    padding-right: 0;
  }
}

.get-estimate__layout-form {
  width: 274px;

  @include below(sm) {
    width: 100%;
    margin-top: 15px;
  }
}

.get-estimate-expert {
}

.get-estimate-expert__grid {
  display: grid;

  @include below(md) {
    grid-template-columns: 94px 1fr;
  }
}

.get-estimate-expert__grid-image {
  grid-row: 1 / 3;
  grid-column: 1 / 2;
  padding-right: 36px;
  display: flex;
  align-items: center;

  @include below(md) {
    grid-row: 1 / 2;
    padding-right: 0;
  }
}

.get-estimate-expert__image {
  width: 180px;
  height: 180px;
  display: flex;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
  margin-left: -14px;
  img {
    display: block;
  }

  @include below(md) {
    width: 78px;
    height: 78px;
    margin-left: 0;
  }
}

.get-estimate-expert__grid-name {
  grid-row: 1 / 2;
  grid-column: 2 / 3;

  @include below(md) {
  }
}

.get-estimate-expert__name {
  color: #fbfbfa;
  font-size: 30px;
  line-height: 1;
  font-weight: normal;
  margin-bottom: 24px;

  @include below(md) {
    font-size: 24px;
    margin-bottom: 9px;
  }
}

.get-estimate-expert__stats {
  font-size: 16px;
  color: #000;
  background: #ffd100;
  padding-left: 12px;
  padding-right: 12px;
  display: inline-block;
  line-height: 1;
  padding-top: 8px;
  padding-bottom: 8px;

  @include below(sm) {
    font-size: 12px;
    padding-top: 3px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
  }
}

.get-estimate-expert__grid-description {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  padding-top: 24px;

  @include below(md) {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    padding-top: 18px;
  }
}

.get-estimate-expert__description {
  font-size: 18px;
  color: #e2e3e5;
  line-height: 1.125;

  @include below(md) {
    font-size: 14px;
  }
}

.get-estimate-form {
  position: relative;

  @include below(sm) {
    background: #06476e;
    padding: 42px 30px;
  }
}

.get-estimate-form__row + .get-estimate-form__row {
  margin-top: 24px;

  @include below(sm) {
    margin-top: 12px;
  }
}

.get-estimate-form__submit {
  margin-top: 23px;

  @include below(sm) {
    margin-top: 15px;
  }
}

.get-estimate-form__submit .ui-button-secondary {
  width: 100%;
}

.get-estimate-form__rules {
  margin-top: 17px;
  color: #f5f5f5;

  @include below(sm) {
    margin-top: 8px;
  }
}

.wpcf7-form-result._mail-sent {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: none;
  &._active {
    display: block;
  }
}

.get-estimate-success {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.get-estimate-success__head {
  background: #2e82b9;
  display: flex;
  align-items: center;
  padding: 20px;
}

.get-estimate-success__head-icon {
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 50%;
  background: url('../images/bg-icon-result.jpg') no-repeat 50% 50%;
  background-size: cover;
  position: relative;
  margin-right: 12px;
}

.get-estimate-success__head-icon::before {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%) rotate(-45deg);
  width: 12px;
  height: 8px;
  border-left: 3px solid #0b5083;
  border-bottom: 3px solid #0b5083;
  margin-top: -2px;
}

.get-estimate-success__head-title {
  font-size: 16px;
  color: #fff;
  font-weight: 700;
  line-height: 1.2;
  text-align: left;
  text-shadow: 0 2px 5px rgb(0 0 0 / 44%);
}

.get-estimate-success__body {
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  flex-grow: 1;
}

.get-estimate-success__body-text {
  font-size: 16px;
  line-height: 1.25;
  color: #333;
  text-align: center;
}

.get-estimate-success__body-close {
  margin-top: 20px;
  line-height: 34px;
  font-size: 16px;
  padding: 0 20px;
  white-space: nowrap;
  border-radius: 18px;
  color: #2d76a6;
  cursor: pointer;
  border: 1px solid currentColor;
  &:hover {
    color: #faaf00;
  }
}
