@import 'responsive';

.header {
  background: #fff;
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  width: 100vw;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.13);

  @include below(sm) {
    background: #e5e7ee;
  }
}

.header-placeholder {
  height: 88px;

  @include below(sm) {
    height: 60px;
  }
}

.header__container {
  position: relative;

  @include above(sm) {
    display: grid;
    align-items: center;
    justify-content: space-between;
  }

  @include below(sm) {
    height: 48px;
    margin-bottom: 20px;
  }
}

.header__toggle {
  width: 36px;
  height: 36px;
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
  width: 48px;
  height: 48px;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;

  &:hover {
    background: rgba(62, 162, 228, 0.22);
  }

  span {
    width: 24px;
    height: 4px;
    background: #0d5c97;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    &:nth-child(1) {
      margin-top: -8px;
    }

    &:nth-child(3) {
      margin-top: 8px;
    }
  }

  @include above(sm) {
    display: none;
  }
}

.header__logo {
  grid-row: 1 / 3;
  grid-column: 1 / 2;

  @include below(md) {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }

  @include below(lg) {
    width: 240px;
  }

  @include below(md) {
    width: 200px;
  }

  @include below(sm) {
    width: 160px;
    position: absolute;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);

    margin-left: -16px;
  }
}

.header__logo a {
  display: block;
}

.header__logo img {
  display: block;
  max-width: 100%;
}

.header__contacts {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 6px 0;

  @include below(md) {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }
}

.header__feedback {
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 6px 22px;
  flex-shrink: 0;
  border-radius: 4px;
  background: rgb(255, 220, 60);
  box-shadow: inset 0px -3px 0px 0px #e2b914;
  cursor: pointer;
  transition: .3s ease;
  transition-property: background, box-shadow;
  
  @include below(md) {
    width: 36px;
    height: 36px;
    padding: 0;
    box-shadow: none;
    border-radius: 50%;
  }

  @include below(sm) {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
  }
}

.header__feedback:hover {
  background: rgb(255, 189, 37);
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.32), inset 0px -3px 0px 0px #cc930f;
}

.header__feedback:hover .header__feedback-icon {
  color: #000;
}

.header__feedback:hover .header__feedback-text {
  color: #000;
}

.header__feedback-icon {
  margin-right: 10px;
  margin-left: -9px;
  margin-top: 2px;
  color: #333;
  transition: color .3s ease;
  
  @include below(md) {
    margin: 0;
  }
}

.header__feedback-icon svg {
  display: block;
}

.header__feedback-text {
  font-weight: bold;
  color: #333;
  font-size: 18px;
  line-height: 28px;
  transition: color .3s ease;

  @include below(lg) {
    font-size: 16px;
  }
  
  @include below(md) {
    display: none;
  }
}

.header__callback {
  border: 2px solid rgb(255, 220, 60);
  border-radius: 4px;
  padding: 4px 12px;
  display: inline-flex;
  align-items: center;
  background: transparent;
  text-decoration: none;
  cursor: pointer;
  transition: background .3s ease;
  
  @include below(sm) {
    background: rgb(255, 220, 60);
    width: 36px;
    height: 36px;
    padding: 0;
    box-shadow: none;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: 52px;
    transform: translateY(-50%);
  }
}

.header__callback:hover {
  background: rgb(255, 188, 31);
}

.header__callback:hover .header__callback-text {
  color: #000000;
}

.header__callback:hover .header__callback-icon {
  color: #000000;
}

.header__callback-icon {
  margin-left: -8px;
  margin-right: 4px;
  border-radius: 4px;
  background-color: rgb(255, 220, 60);
  width: 28px;
  height: 28px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333333;
  transition: color .3s ease;
  
  @include below(sm) {
    margin: 0;
    width: 100%;
    height: 100%;
    background: transparent;
  }
}

.header__callback-icon svg {
  display: block;
}

.header__callback-text {
  font-weight: bold;
  color: #333333;
  font-size: 18px;
  line-height: 28px;
  transition: color .3s ease;

  @include below(lg) {
    font-size: 16px;
  }
  
  @include below(md) {
    font-size: 14px;
  }
  
  @include below(sm) {
    display: none;
  }
}

.header__phones {
  display: flex;
  flex-direction: column;
  line-height: 1;
  gap: 2px;
  // font-size: 24px;
  // font-weight: bold;
  // text-decoration: none;
  // color: #000;

  // @include below(lg) {
  //   font-size: 20px;
  // }

  // @include below(md) {
  //   font-size: 18px;
  // }

  @include below(sm) {
    font-size: 14px;
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    margin-left: -16px;
  }
}

.header__phone {
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  color: #000;

  // @include below(lg) {
  //   font-size: 14px;
  // }
  
  // @include below(md) {
  //   font-size: 12px;
  // }

  @include below(sm) {
    font-size: 16px;
    .header__phone + & {
      display: none;
    }
  //   position: absolute;
  //   top: 40px;
  //   left: 50%;
  //   transform: translateX(-50%);

  //   margin-left: -16px;
  }
}

.header__contacts-sep-1 {
  width: 40px;
  
  @include below(md) {
    width: 18px;
  }

  @include below(sm) {
    display: none;
  }
}

.header__contacts-sep-2 {
  width: 18px;
  
  @include below(md) {
    width: 10px;
  }

  @include below(sm) {
    display: none;
  }
}

.header__menu {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  display: flex;
  justify-content: flex-end;

  @include below(md) {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
  }

  @include below(sm) {
    display: none;
  }
}

.header-menu {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  
  @include below(md) {
    width: 100%;
    justify-content: space-between;
  }
}

.header-menu > .menu-item {
  position: relative;
}

.header-menu > .menu-item + .menu-item {
  margin-left: 50px;

  @include below(lg) {
    margin-left: 34px;
  }
  
  @include below(md) {
    margin-left: 10px;
  }
}

.header-menu > .menu-item > a {
  display: block;
  line-height: 36px;
  font-weight: bold;
  font-size: 20px;
  color: #505050;
  text-decoration: none;
  position: relative;
  
  @include below(lg) {
    font-size: 18px;
  }
}

.header-menu > .menu-item > a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #faaf00;
  height: 6px;
  opacity: 0;
  visibility: hidden;
  transition: all .3s ease;
}

.header-menu > .menu-item.current-menu-item > a,
.header-menu > .menu-item > a:hover {
  color: #000000;
  text-decoration: none;
}

.header-menu > .menu-item.current-menu-item > a::after,
.header-menu > .menu-item > a:hover::after {
  visibility: visible;
  opacity: 1;
}

.header-menu > .menu-item > .sub-menu {
  display: none;
  width: 260px;
  position: absolute;
  top: 100%;
  left: 0;
}

.header-menu > .menu-item:hover > .sub-menu {
  display: block;
  padding: 8px;
  margin: 0;
  list-style: none;
  background-color: rgb(229, 231, 238);
  box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.23);  
}

.header-menu > .menu-item:hover > .sub-menu > .menu-item {
  position: relative;
}

.header-menu > .menu-item:hover > .sub-menu > .menu-item + .menu-item {
  margin-top: 1px;
}

.header-menu > .menu-item:hover > .sub-menu > .menu-item > a {
  display: block;
  line-height: 16px;
  padding: 12px;
  font-weight: bold;
  color: #5f5f5f;
  font-size: 15px;
  background: #fffbee;
  text-decoration: none;
}

.header-menu > .menu-item:hover > .sub-menu > .menu-item > a:hover {
  color: #000;
  background: #fff3cf;
}
