@import 'responsive';
@import 'variables';

.how-we-work {
  background: #f4f4f4;
  padding-top: 44px;
  padding-bottom: 49px;

  @include below(sm) {
    padding-top: 37px;
    padding-bottom: 32px;
  }
}

.how-we-work__title {
  font-size: 36px;
  line-height: 1;
  margin: 0;
  font-weight: 600;
  text-align: center;

  @include below(md) {
    font-size: 32px;
  }

  @include below(sm) {
    font-size: 22px;
    font-weight: bold;
  }
}

.how-we-work__title::after {
  content: "";
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 51px;
  height: 9px;
  background: url('../images/title-underline.jpg') no-repeat 50% 50%;
  background-size: cover;
  margin-top: 18px;

  @include below(sm) {
    width: 56px;
    height: 5px;
    margin-top: 22px;
  }
}

.how-we-work__items {
  display: flex;
  align-items: flex-start;
  margin-top: 25px;

  @include below(sm) {
    flex-direction: column;
  }
}

.how-we-work__item {
  width: 20%;
  display: flex;
  flex-wrap: wrap;

  @include below(sm) {
    width: 100%;
  }
}

.how-we-work__item + .how-we-work__item {
  @include below(sm) {
    margin-top: 20px;
  }
}

.how-we-work__item-image {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0a6eaa;
  border-bottom: 2px solid #8abbd8;
  margin-bottom: 33px;
  width: 100%;
  height: 120px;
  position: relative;

  @include below(sm) {
    order: 2;
    height: 60px;
    width: 60px;
    border: none;
    margin-bottom: 0;
    margin-right: 12px;
  }
}

.how-we-work__item-image img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.how-we-work__item-image::after {
  content: '';
  position: absolute;
  display: block;
  width: 16px;
  height: 16px;
  border-right: 2px solid #8abbd8;
  border-bottom: 2px solid #8abbd8;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%) translateY(50%) rotate(-45deg);

  @include below(sm) {
    display: none;
  }
}

.how-we-work__item_last .how-we-work__item-image::after {
  display: none;
}

.how-we-work__item-number {
  font-size: 36px;
  width: 28px;
  flex-shrink: 0;
  text-align: center;
  line-height: 28px;
  font-weight: bold;
  letter-spacing: 0.05em;
  color: #0a6eaa;
  margin-right: 22px;
  position: relative;

  @include below(sm) {
    order: 1;
    font-size: 28px;
    width: 36px;
    line-height: 1;
    margin-right: 18px;
  }
}

.how-we-work__item-number::after {
  content: '';
  width: 2px;
  background: #0a6eaa;
  position: absolute;
  top: 3px;
  right: -12px;
  height: 35px;

  @include below(sm) {
    top: 4px;
    right: -1px;
    height: 29px;
  }
}

.how-we-work__item-number::before {
  content: '';
  position: absolute;
  top: -42px;
  background: #fff;
  left: 50%;
  transform: translateX(-50%);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 4px solid #0a6eaa;

  @include below(sm) {
    display: none;
  }
}

.how-we-work__item-description {
  flex-grow: 1;
  font-size: 18px;
  line-height: 1;
  letter-spacing: -0.05em;
  padding-right: 20px;
  width: calc(100% - 50%);

  @include below(md) {
    font-size: 16px;
    margin-top: 20px;
    width: 100%;
  }

  @include below(lg) {
    padding-right: 10px;
    font-size: 16px;
  }

  @include below(sm) {
    order: 3;
    font-size: 16px;
    line-height: 0.875;
    align-self: center;
  }
}
