@import 'responsive';

.landing-catalog {
  padding-top: 10px;
  padding-bottom: 72px;

  @include below(md) {
    padding-top: 38px;
  }

  @include below(sm) {
    padding-top: 38px;
    padding-bottom: 11px;
  }
}

.landing-catalog__title {
  font-size: 30px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  margin: 0;

  @include below(sm) {
    font-size: 20px;
    line-height: 1;
  }
}

.landing-catalog__title::after {
  content: '';
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 68px;
  height: 6px;
  background: #fbbb49;
  margin-top: 36px;

  @include below(sm) {
    margin-top: 30px;
    width: 60px;
    height: 5px;
  }
}

.landing-catalog__subtitle {
  margin-top: 27px;
  text-align: center;
  font-size: 20px;
  color: rgb(0, 0, 0);
  line-height: 1.5;

  a:not(.ui-button-submit) {
    color: #3681b3;
    text-decoration: underline;
  }

  a:not(.ui-button-submit):visited {
    color: #846bb2;
  }

  a:not(.ui-button-submit):hover {
    color: #fff;
    background: #faaf00;
    text-decoration: none;
  }

  @include below(sm) {
    font-size: 16px;
    line-height: 1.111;
    margin-top: 15px;
  }
}

.landing-catalog__items {
  margin-top: 33px;
  margin-left: auto;
  margin-right: auto;
  max-width: 860px;
}

.landing-catalog__grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -33px;
  margin-top: -33px;

  @include below(lg) {
    margin-left: -15px;
    margin-top: -15px;
  }
}

.landing-catalog__grid-cell {
  padding-left: 33px;
  padding-top: 33px;
  width: calc(100% / 2);

  @include below(lg) {
    padding-left: 15px;
    padding-top: 15px;
  }
  
  @include below(md) {
    width: calc(100% / 2);
  }
  
  @include below(sm) {
    width: 100%;
  }
}

.landing-catalog__description {
  font-size: 22px;
  color: rgb(0, 0, 0);
  line-height: 1.364;
  text-align: center;
  margin-top: 82px;

  @include below(lg) {
    margin-top: 60px;
  }

  @include below(sm) {
    font-size: 16px;
    margin-top: 55px;
    line-height: 1.111;
  }
}
