.hystmodal__opened {
  position: fixed;
  right: 0;
  left: 0;
  overflow: hidden;
}

.hystmodal__shadow {
  position: fixed;
  border:none;
  display: block;
  width: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  pointer-events: none;
  z-index: 1098;
  opacity: 0;
  transition: opacity 0.15s ease;
  background-color: black;
}

.hystmodal__shadow--show {
  pointer-events: auto;
  opacity: 0.6;
}

.hystmodal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  opacity: 1;
  pointer-events: none;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  z-index: 1099;
  visibility: hidden;
}

.hystmodal--active {
  opacity: 1;
}

.hystmodal--moved,
.hystmodal--active {
  pointer-events: auto;
  visibility: visible;
}

.hystmodal__wrap {
  flex-shrink: 0;
  flex-grow: 0;
  width: 100%;
  min-height: 100%;
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.hystmodal__window {
  margin: 50px 0;
  box-sizing: border-box;
  flex-shrink: 0;
  flex-grow: 0;
  background: #fff;
  width: 640px;
  padding: 20px;
  border-radius: 4px;
  max-width: 100%;
  overflow: visible;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease 0s, opacity 0.2s ease 0s;
  transform: scale(0.9);
  opacity: 0;
}

.hystmodal--small .hystmodal__window {
  width: 340px;
}

.hystmodal--order .hystmodal__window {
  width: 680px;
  background-color: #fffdf4;
}

.hystmodal--active .hystmodal__window {
  transform: scale(1);
  opacity: 1;
}

.hystmodal__close {
  position: absolute;
  right: 4px;
  top: 4px;
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #999;
  padding: 0;
  border: none;
  cursor: pointer;
  background: transparent;
  &:hover {
    background: #c9d7e0;
    color: #000;
  }
}

.hystmodal__close::before {
  content: '';
  position: absolute;
  width: 16px;
  height: 2px;
  background: currentColor;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.hystmodal__close::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 2px;
  background: currentColor;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

@media all and (max-width:767px) {
  .hystmodal__window {
    margin: 0;
  }
}

.modal-form {

}

.modal-form__title {
  font-size: 24px;
  color: #333;
  text-align: center;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 16px;
}

.modal-form__field + .modal-form__field {
  margin-top: 7px;
}

.modal-form__file {
  margin-top: 7px;
}

.modal-form__note {
  font-size: 12px;
  font-style: italic;
  color: #868686;
  line-height: 1;
  margin-top: 10px;
}

.modal-form__rules {
  margin-top: 12px;
  color: #404040;
}

.modal-form__submit {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.modal-form__loader {
  display: none;
  ._mail-sending & {
    display: block;
  }
}

.modal-form__success {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: none;
  ._mail-sent & {
    display: block;
  }
}

.modal-form__failed {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: none;
  ._mail-failed & {
    display: block;
  }
}

.modal-form-result {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.modal-form-result__head {
  background: #2e82b9;
  display: flex;
  align-items: center;
  padding: 40px 20px;
  .modal-form-result_success & {
    background: #2e82b9;
  }
  .modal-form-result_failed & {
    background: #e48a00;
  }
}

.modal-form-result__head-icon {
  width: 54px;
  height: 54px;
  flex-shrink: 0;
  border-radius: 50%;
  background: url('../images/bg-icon-result.jpg') no-repeat 50% 50%;
  background-size: cover;
  position: relative;
  margin-right: 20px;
}

.modal-form-result__head-icon::before {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%) rotate(-45deg);
  width: 24px;
  height: 16px;
  border-left: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  margin-top: -3px;
}

.modal-form-result__head-title {
  font-size: 20px;
  color: #fff;
  font-weight: 700;
  line-height: 1.2;
  text-align: left;
  text-shadow: 0 2px 5px rgb(0 0 0 / 44%);
}

.modal-form-result__body {
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  flex-grow: 1;
}

.modal-form-result__body-text {
  font-size: 18px;
  line-height: 1.25;
  color: #333;
  text-align: center;
}

.modal-form-result__body-close {
  margin-top: 40px;
  line-height: 34px;
  font-size: 16px;
  padding: 0 20px;
  white-space: nowrap;
  border-radius: 18px;
  color: #2d76a6;
  cursor: pointer;
  border: 1px solid currentColor;
  &:hover {
    color: #faaf00;
  }
}

.order-form {

}

.order-form-data {
  display: flex;
  flex-wrap: wrap;
  margin-left: -8px;
  margin-top: -8px;
}

.order-form-data__item {
  padding-left: 8px;
  padding-top: 8px;
  width: 50%;
}

.order-form-products {
  padding-top: 25px;
  padding-bottom: 25px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin-top: 25px;
  margin-bottom: 25px;
}

.order-form-products__title {
  font-size: 18px;
  color: #000;
  margin-bottom: 20px;
}

.order-form-products__group {
  display: flex;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-top: -12px;
}

.order-form-products__group-item {
  padding-left: 12px;
  padding-top: 12px;
  width: 50%;
}

.order-form__title {
  font-size: 24px;
  color: #3682b2;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 25px;
}

.order-form__field {
  margin-top: 12px;
}

.order-form__file {
  margin-top: 12px;
}

.order-form__note {
  font-size: 12px;
  font-style: italic;
  color: #868686;
  line-height: 1;
  margin-top: 10px;
}

.order-form__rules {
  margin-top: 12px;
  color: #404040;
  max-width: 480px;
}

.order-form__submit {
  margin-top: 12px;
  display: flex;
  justify-content: center;
}

.order-form__loader {
  display: none;
  ._mail-sending & {
    display: block;
  }
}

.order-form__success {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: none;
  ._mail-sent & {
    display: block;
  }
}

.order-form__failed {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: none;
  ._mail-failed & {
    display: block;
  }
}

.order-form-result {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.order-form-result__head {
  background: #2e82b9;
  display: flex;
  align-items: center;
  padding: 40px 20px;
  .order-form-result_success & {
    background: #2e82b9;
  }
  .order-form-result_failed & {
    background: #e48a00;
  }
}

.order-form-result__head-icon {
  width: 54px;
  height: 54px;
  flex-shrink: 0;
  border-radius: 50%;
  background: url('../images/bg-icon-result.jpg') no-repeat 50% 50%;
  background-size: cover;
  position: relative;
  margin-right: 20px;
}

.order-form-result__head-icon::before {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%) rotate(-45deg);
  width: 24px;
  height: 16px;
  border-left: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  margin-top: -3px;
}

.order-form-result__head-title {
  font-size: 20px;
  color: #fff;
  font-weight: 700;
  line-height: 1.2;
  text-align: left;
  text-shadow: 0 2px 5px rgb(0 0 0 / 44%);
}

.order-form-result__body {
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  flex-grow: 1;
}

.order-form-result__body-text {
  font-size: 18px;
  line-height: 1.25;
  color: #333;
  text-align: center;
}

.order-form-result__body-close {
  margin-top: 40px;
  line-height: 34px;
  font-size: 16px;
  padding: 0 20px;
  white-space: nowrap;
  border-radius: 18px;
  color: #2d76a6;
  cursor: pointer;
  border: 1px solid currentColor;
  &:hover {
    color: #faaf00;
  }
}
