.hystmodal__opened {
  position: fixed;
  right: 0;
  left: 0;
  overflow: hidden;
}

.hystmodal__shadow {
  position: fixed;
  border:none;
  display: block;
  width: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  pointer-events: none;
  z-index: 1098;
  opacity: 0;
  transition: opacity 0.15s ease;
  background-color: black;
}

.hystmodal__shadow--show {
  pointer-events: auto;
  opacity: 0.6;
}

.hystmodal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  opacity: 1;
  pointer-events: none;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  z-index: 1099;
  visibility: hidden;
}

.hystmodal--active{
  opacity: 1;
}

.hystmodal--moved,
.hystmodal--active{
  pointer-events: auto;
  visibility: visible;
}

.hystmodal__wrap {
  flex-shrink: 0;
  flex-grow: 0;
  width: 100%;
  min-height: 100%;
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.hystmodal__window {
  margin: 50px 0;
  box-sizing: border-box;
  flex-shrink: 0;
  flex-grow: 0;
  background: #fff;
  width: 640px;
  padding: 20px;
  border-radius: 4px;
  max-width: 100%;
  overflow: visible;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease 0s, opacity 0.2s ease 0s;
  transform: scale(0.9);
  opacity: 0;
}

.hystmodal--small .hystmodal__window {
  width: 340px;
}

.hystmodal--active .hystmodal__window {
  transform: scale(1);
  opacity: 1;
}

.hystmodal__close {
  position: absolute;
  right: 4px;
  top: 4px;
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #999;
  padding: 0;
  border: none;
  cursor: pointer;
  background: transparent;
  &:hover {
    background: #c9d7e0;
    color: #000;
  }
}

.hystmodal__close::before {
  content: '';
  position: absolute;
  width: 16px;
  height: 2px;
  background: currentColor;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.hystmodal__close::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 2px;
  background: currentColor;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

@media all and (max-width:767px) {
  .hystmodal__window {
    margin: 0;
  }
}

.modal-form {

}

.modal-form__title {
  font-size: 24px;
  color: #333;
  text-align: center;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 16px;
}

.modal-form__field + .modal-form__field {
  margin-top: 7px;
}

.modal-form__file {
  margin-top: 7px;
}

.modal-form__note {
  font-size: 12px;
  font-style: italic;
  color: #868686;
  line-height: 1;
  margin-top: 10px;
}

.modal-form__rules {
  margin-top: 12px;
  color: #404040;
}

.modal-form__submit {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
