@import 'responsive';

.rent {
  background: url('../images/bg-rent.jpg');
  padding-bottom: 82px;
  padding-top: 60px;
  
  @include below(sm) {
    padding-top: 18px;
    padding-bottom: 14px;
  }
}

.rent__headline {
  display: flex;
  justify-content: center;
  padding-left: 180px;
  position: relative;

  @include below(sm) {
    padding-left: 115px;
  }
}

.rent__headline-why {
  font-size: 68px;
  color: rgb(13, 92, 151);
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(calc(-50% - 272px), calc(-50% + 6px));

  @include below(md) {
    transform: translate(calc(-50% - 180px), calc(-50% + 6px));
    font-size: 54px;
  }

  @include below(sm) {
    letter-spacing: 0.025em;
    font-size: 28px;
    transform: translate(calc(-50% - 84px), calc(-50% + 1px));
  }
}

.rent__headline-why::before {
  content: '';
  display: block;
  width: 112px;
  height: 170px;
  background: url('../images/icon-question-rent.png') no-repeat 50% 50%;
  background-size: cover;
  position: absolute;
  z-index: -1;
  left: 50%;
  top: 50%;
  transform: translate(calc(-50% - 18px), calc(-50% - 10px));
  
  @include below(sm) {
    width: 48px;
    height: 72px;
    transform: translate(calc(-50% - 8px), calc(-50% - 6px));
  }
}

.rent__headline-title {
  font-size: 36px;
  line-height: 1.28;
  letter-spacing: -0.025em;
  color: #2a2a2a;
  font-weight: normal;
  margin: 0;
  text-align: center;

  @include below(md) {
    font-size: 32px;
  }

  @include below(sm) {
    font-size: 15px;
  }
}

.rent__headline-title strong {
  color: #0d5c97;
}

.rent__items {
  margin-top: 57px;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 25px;
  grid-column-gap: 43px;
  grid-auto-flow: dense;

  @include below(lg) {
    grid-column-gap: 25px;
  }

  @include below(sm) {
    grid-template-columns: 1fr;
    margin-top: 21px;
    grid-row-gap: 8px;
  }
}

.rent__grid {
  display: flex;
  flex-wrap: wrap;
  margin: -12px -20px;

  @include below(lg) {
    margin-left: -12px;
    margin-right: -12px;
  }

  @include below(sm) {
  }
}

.rent__grid-cell {
  width: calc(100% / 2);
  padding: 12px 20px;

  @include below(lg) {
    padding-left: 12px;
    padding-right: 12px;
  }

  @include below(sm) {
    width: 100%;
  }
}

.rent-card {
  border: 2px solid rgb(5, 92, 149);
  display: flex;
  min-height: 100%;
}

.rent-card__image {
  width: 85px;
  height: 85px;
  margin-right: 0;
  margin-bottom: 0;
  flex-shrink: 0;
  margin-left: -2px;
  margin-top: -2px;
  background: #0d5c97;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;

  @include below(md) {
    width: 60px;
    height: 60px;
  }

  @include below(sm) {
    width: 50px;
    height: 50px;
  }
}

.rent-card__image img {
  display: block;
  max-width: 60%;
  max-height: 60%;
  width: auto;
  height: auto;
}

.rent-card__body {
  padding: 20px 22px;
  flex-grow: 1;

  @include below(sm) {
    padding: 6px 16px 12px;
  }
}

.rent-card__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 1;
  color: #000;

  @include below(md) {
    font-size: 20px;
  }

  @include below(sm) {
    font-size: 18px;
    min-height: 2em;
  }
}

.rent-card__description {
  font-size: 18px;
  line-height: 1.222;
  color: #000;
  margin-top: 10px;

  @include below(md) {
    font-size: 16px;
    margin-left: -60px;
  }

  @include below(sm) {
    font-size: 14px;
    line-height: 1.111;
    margin-top: 16px;
    margin-left: -48px;
  }
}
