.side-news {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.07);
  position: relative;
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 28px;
  padding-bottom: 38px;

  @include below(lg) {
    padding: 25px;
  }
}

.side-news__title {
  font-weight: bold;
  text-align: center;
  font-size: 24px;
  line-height: 1;
  letter-spacing: 0.025em;
  color: #000;
  padding-bottom: 12px;
  border-bottom: 3px solid #e1e1e1;
  margin-bottom: 24px;

  @include below(lg) {
    font-size: 22px;
  }
}

.side-news__articles {

}

.side-news-card {
  display: flex;
  position: relative;
}

.side-news-card + .side-news-card {
  margin-top: 24px;
}

.side-news-card__image {
  width: 84px;
  display: block;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
  margin-right: 20px;

  img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 4px;
  }

  @include below(lg) {
    width: 64px;
    margin-right: 12px;
  }
}

.side-news-card__body {

}

.side-news-grid__date {
  color: #9a9a9a;
  font-size: 11px;
  font-weight: 300;
  line-height: 1;
  position: relative;
  padding-left: 20px;
}

.side-news-grid__date::before {
  content: '';
  width: 12px;
  height: 13px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='15px' height='16px'%3E%3Cpath fill-rule='evenodd' fill='rgb(153, 153, 153)' d='M0.0,15.999 L0.0,0.999 L1.999,0.999 L1.999,2.999 L4.999,2.999 L4.999,0.999 L9.999,0.999 L9.999,2.999 L12.999,2.999 L12.999,0.999 L14.999,0.999 L14.999,15.999 L0.0,15.999 ZM13.999,3.999 L0.999,3.999 L0.999,14.999 L13.999,14.999 L13.999,3.999 ZM2.999,5.999 L1.999,5.999 L1.999,4.999 L2.999,4.999 L2.999,5.999 ZM2.999,7.999 L1.999,7.999 L1.999,6.999 L2.999,6.999 L2.999,7.999 ZM2.999,9.999 L1.999,9.999 L1.999,8.999 L2.999,8.999 L2.999,9.999 ZM2.999,11.999 L1.999,11.999 L1.999,10.999 L2.999,10.999 L2.999,11.999 ZM2.999,13.999 L1.999,13.999 L1.999,12.999 L2.999,12.999 L2.999,13.999 ZM4.999,5.999 L3.999,5.999 L3.999,4.999 L4.999,4.999 L4.999,5.999 ZM4.999,7.999 L3.999,7.999 L3.999,6.999 L4.999,6.999 L4.999,7.999 ZM4.999,9.999 L3.999,9.999 L3.999,8.999 L4.999,8.999 L4.999,9.999 ZM4.999,11.999 L3.999,11.999 L3.999,10.999 L4.999,10.999 L4.999,11.999 ZM4.999,13.999 L3.999,13.999 L3.999,12.999 L4.999,12.999 L4.999,13.999 ZM6.999,5.999 L5.999,5.999 L5.999,4.999 L6.999,4.999 L6.999,5.999 ZM6.999,7.999 L5.999,7.999 L5.999,6.999 L6.999,6.999 L6.999,7.999 ZM6.999,9.999 L5.999,9.999 L5.999,8.999 L6.999,8.999 L6.999,9.999 ZM6.999,11.999 L5.999,11.999 L5.999,10.999 L6.999,10.999 L6.999,11.999 ZM6.999,13.999 L5.999,13.999 L5.999,12.999 L6.999,12.999 L6.999,13.999 ZM8.999,5.999 L7.999,5.999 L7.999,4.999 L8.999,4.999 L8.999,5.999 ZM8.999,7.999 L7.999,7.999 L7.999,6.999 L8.999,6.999 L8.999,7.999 ZM8.999,9.999 L7.999,9.999 L7.999,8.999 L8.999,8.999 L8.999,9.999 ZM8.999,11.999 L7.999,11.999 L7.999,10.999 L8.999,10.999 L8.999,11.999 ZM8.999,13.999 L7.999,13.999 L7.999,12.999 L8.999,12.999 L8.999,13.999 ZM10.999,5.999 L9.999,5.999 L9.999,4.999 L10.999,4.999 L10.999,5.999 ZM10.999,7.999 L9.999,7.999 L9.999,6.999 L10.999,6.999 L10.999,7.999 ZM10.999,9.999 L9.999,9.999 L9.999,8.999 L10.999,8.999 L10.999,9.999 ZM10.999,11.999 L9.999,11.999 L9.999,10.999 L10.999,10.999 L10.999,11.999 ZM12.999,5.999 L11.999,5.999 L11.999,4.999 L12.999,4.999 L12.999,5.999 ZM12.999,7.999 L11.999,7.999 L11.999,6.999 L12.999,6.999 L12.999,7.999 ZM12.999,9.999 L11.999,9.999 L11.999,8.999 L12.999,8.999 L12.999,9.999 ZM12.999,11.999 L11.999,11.999 L11.999,10.999 L12.999,10.999 L12.999,11.999 ZM10.999,0.0 L11.999,0.0 L11.999,1.999 L10.999,1.999 L10.999,0.0 ZM2.999,0.0 L3.999,0.0 L3.999,1.999 L2.999,1.999 L2.999,0.0 Z'/%3E%3C/svg%3E");
  background-size: cover;
}

.side-news-grid__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  margin-top: 10px;

  a {
    color: #0a6eaa;
    text-decoration: none;
    display: inline-block;

    &:hover {
      color: #faaf00;
    }

    &::after {
      content: '';
      position: absolute;
      z-index: 10;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
    }
  }
}
