.single-section {
  background: linear-gradient(to bottom, #f1f1f1 0, #f1f1f1 222px, #f6f6f6 222px, #f6f6f6 100%);
  position: relative;
  z-index: 20;
  padding-bottom: 30px;
  padding-top: 30px;
}

.single-headline {

}

.single-headline__date {
  color: #9a9a9a;
  font-size: 14px;
  line-height: 1;
  position: relative;
  padding-left: 25px;

  @include below(lg) {
    font-size: 12px;
  }
}

.single-headline__date::before {
  content: '';
  width: 15px;
  height: 16px;
  display: inline-block;
  margin-right: 8px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='15px' height='16px'%3E%3Cpath fill-rule='evenodd' fill='rgb(153, 153, 153)' d='M0.0,15.999 L0.0,0.999 L1.999,0.999 L1.999,2.999 L4.999,2.999 L4.999,0.999 L9.999,0.999 L9.999,2.999 L12.999,2.999 L12.999,0.999 L14.999,0.999 L14.999,15.999 L0.0,15.999 ZM13.999,3.999 L0.999,3.999 L0.999,14.999 L13.999,14.999 L13.999,3.999 ZM2.999,5.999 L1.999,5.999 L1.999,4.999 L2.999,4.999 L2.999,5.999 ZM2.999,7.999 L1.999,7.999 L1.999,6.999 L2.999,6.999 L2.999,7.999 ZM2.999,9.999 L1.999,9.999 L1.999,8.999 L2.999,8.999 L2.999,9.999 ZM2.999,11.999 L1.999,11.999 L1.999,10.999 L2.999,10.999 L2.999,11.999 ZM2.999,13.999 L1.999,13.999 L1.999,12.999 L2.999,12.999 L2.999,13.999 ZM4.999,5.999 L3.999,5.999 L3.999,4.999 L4.999,4.999 L4.999,5.999 ZM4.999,7.999 L3.999,7.999 L3.999,6.999 L4.999,6.999 L4.999,7.999 ZM4.999,9.999 L3.999,9.999 L3.999,8.999 L4.999,8.999 L4.999,9.999 ZM4.999,11.999 L3.999,11.999 L3.999,10.999 L4.999,10.999 L4.999,11.999 ZM4.999,13.999 L3.999,13.999 L3.999,12.999 L4.999,12.999 L4.999,13.999 ZM6.999,5.999 L5.999,5.999 L5.999,4.999 L6.999,4.999 L6.999,5.999 ZM6.999,7.999 L5.999,7.999 L5.999,6.999 L6.999,6.999 L6.999,7.999 ZM6.999,9.999 L5.999,9.999 L5.999,8.999 L6.999,8.999 L6.999,9.999 ZM6.999,11.999 L5.999,11.999 L5.999,10.999 L6.999,10.999 L6.999,11.999 ZM6.999,13.999 L5.999,13.999 L5.999,12.999 L6.999,12.999 L6.999,13.999 ZM8.999,5.999 L7.999,5.999 L7.999,4.999 L8.999,4.999 L8.999,5.999 ZM8.999,7.999 L7.999,7.999 L7.999,6.999 L8.999,6.999 L8.999,7.999 ZM8.999,9.999 L7.999,9.999 L7.999,8.999 L8.999,8.999 L8.999,9.999 ZM8.999,11.999 L7.999,11.999 L7.999,10.999 L8.999,10.999 L8.999,11.999 ZM8.999,13.999 L7.999,13.999 L7.999,12.999 L8.999,12.999 L8.999,13.999 ZM10.999,5.999 L9.999,5.999 L9.999,4.999 L10.999,4.999 L10.999,5.999 ZM10.999,7.999 L9.999,7.999 L9.999,6.999 L10.999,6.999 L10.999,7.999 ZM10.999,9.999 L9.999,9.999 L9.999,8.999 L10.999,8.999 L10.999,9.999 ZM10.999,11.999 L9.999,11.999 L9.999,10.999 L10.999,10.999 L10.999,11.999 ZM12.999,5.999 L11.999,5.999 L11.999,4.999 L12.999,4.999 L12.999,5.999 ZM12.999,7.999 L11.999,7.999 L11.999,6.999 L12.999,6.999 L12.999,7.999 ZM12.999,9.999 L11.999,9.999 L11.999,8.999 L12.999,8.999 L12.999,9.999 ZM12.999,11.999 L11.999,11.999 L11.999,10.999 L12.999,10.999 L12.999,11.999 ZM10.999,0.0 L11.999,0.0 L11.999,1.999 L10.999,1.999 L10.999,0.0 ZM2.999,0.0 L3.999,0.0 L3.999,1.999 L2.999,1.999 L2.999,0.0 Z'/%3E%3C/svg%3E");
}

.single-headline__title {
  text-align: center;
  font-weight: bold;
  margin: 0;
  margin-bottom: 20px;
  color: #215578;
  line-height: 1;
}

.single-layout {
  display: flex;
  margin-left: -30px;

  @include below(lg) {
    margin-left: -20px;
  }
}

.single-layout__content {
  padding-left: 30px;
  width: calc(100% / 3 * 2);

  @include below(lg) {
    padding-left: 20px;
  }

  @include below(md) {
    width: 100%;
  }
}

.single-layout__side {
  position: relative;
  padding-left: 30px;
  width: calc(100% / 3);

  @include below(lg) {
    padding-left: 20px;
  }

  @include below(md) {
    display: none;
  }
}

.single-layout__side-sicky {
  position: sticky;
  top: calc(88px + 25px);
}
