$nav-scroller-scrollbar: 30px;

.tabs {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.07);
}

.tabs-body {

}

.tabs-body__item {
  padding: 80px;
  display: none;

  &_active {
    display: block;
  }

  @include below(lg) {
    padding: 40px;
  }

  @include below(md) {
    padding: 24px;
  }

  @include below(sm) {
    padding: 12px;
  }
}
  
.tabs-nav {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 102px;
  margin-bottom: -20px;

  @include below(sm) {
    height: 80px;
    margin-bottom: -12px;
  }
}
  
.tabs-nav__wrapper {
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x proximity;
  z-index: 1;

  // Hide scrollbar
  padding-bottom: $nav-scroller-scrollbar;
  margin-bottom: -$nav-scroller-scrollbar;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
  
.tabs-nav__content {
  display: inline-flex;
}
  
.tabs-nav__content {
  min-height: 82px;
  will-change: transform;

  &:not(.no-transition) {
    transition: transform .25s cubic-bezier(0.645, 0.045, 0.355, 1.000); // easeInOutCubic
  }

  @include below(sm) {
    min-height: 68px;
  }
}
  
ul.tabs-nav__content {
  margin: 0;
  padding: 0;
  list-style: none;
}
  
.tabs-nav__item {
  display: flex;
  padding: 16px;
  position: relative;
  border: none;
  align-items: center;
  justify-content: center;
  background: #f6f6f6;
  color: #696969;
  font-size: 16px;
  line-height: 1;
  text-align: center;
  border-left: 1px solid #fff; // border on both sides so all items are spaced evenly
  border-right: 1px solid #fff;

  &:first-child {
    border-left-color: transparent;
  }

  &:last-child {
    border-right-color: transparent;
  }

  &:hover {
    background: #dfdfdf;
    color: #000;
  }

  &_active {
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.19);
    background: #2e82b9;

    &::after {
      content: '';
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-top: 20px solid #2e82b9;

      @include below(sm) {
        border-left-width: 12px;
        border-right-width: 12px;
        border-top-width: 12px;
      }
    }

    &:hover {
      background: #268dd1;
      color: rgb(255, 255, 255);

      &::after {
        border-top-color: #268dd1;
      }
    }
  }

  @include below(lg) {
    font-size: 14px;
    padding: 12px;
  }
}
  
.tabs-nav__btn {
  position: absolute;
  top: 0;
  z-index: 10;
  width: 24px;
  height: 82px;
  color: #000;
  background: #fff;
  border: 1px solid #ddd;
  transition: color .3s, opacity .3s;
  cursor: pointer;

  &:hover {
    color: #666;
  }

  &:focus {
    outline: 0;
  }

  &:not(.active) {
    opacity: 0;
    pointer-events: none;
  }

  @include below(sm) {
    height: 68px;
  }
}


.tabs-nav__btn_left {
  left: 0;

  &::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: 5px;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 16px;
    height: 16px;
    border-left: 1px solid currentColor;
    border-bottom: 1px solid currentColor;
  }
}

.tabs-nav__btn_right {
  right: 0;

  &::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -5px;
    transform: translate(-50%, -50%) rotate(-45deg);
    width: 16px;
    height: 16px;
    border-right: 1px solid currentColor;
    border-bottom: 1px solid currentColor;
  }
}
