$nav-scroller-btn-width: 44px;
$nav-scroller-btn-height: 44px;
$nav-scroller-scrollbar: 30px;

// ----- Component -----
.nav-scroller, .nav-scroller-wrapper {
  display: flex;
}
  
.nav-scroller {
  position: relative;
  width: 100%;
  overflow: hidden;
}
  
.nav-scroller-nav {
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  z-index: 1;
  align-self: center;

  // Hide scrollbar
  padding-bottom: $nav-scroller-scrollbar;
  margin-bottom: -$nav-scroller-scrollbar;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
  
.nav-scroller-content, .nav-scroller-items {
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
}
  
.nav-scroller-content {
  min-height: $nav-scroller-btn-height; // Ensures full button is visible
  will-change: transform;

  &:not(.no-transition) {
    transition: transform .25s cubic-bezier(0.645, 0.045, 0.355, 1.000); // easeInOutCubic
  }
}
  
ul.nav-scroller-content {
  margin: 0;
  padding: 0;
  list-style: none;
}
  
.nav-scroller-item {
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 82px;
  background: #f6f6f6;
  color: #696969;
  font-size: 16px;
  line-height: 1;
  text-align: center;
  border-left: 1px solid transparent; // border on both sides so all items are spaced evenly
  border-right: 1px solid #fff;

  &:last-child {
    border-right-color: transparent;
  }
}
  
  
    .nav-scroller-btn {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 10;
      width: $nav-scroller-btn-width;
      min-height: $nav-scroller-btn-height;
      height: 100%;
      padding: .5rem;
      font-size: 1.25rem;
      color: #000;
      background: #fff;
      border: 1px solid #ddd;
      transition: color .3s, opacity .3s;
      cursor: pointer;
  
      &:hover {
        color: #666;
      }
  
      &:focus {
        outline: 0;
      }
  
      &:not(.active) {
        opacity: 0;
        pointer-events: none;
      }
    }
  
      .nav-scroller-icon {
        display: inline-block;
        position: relative;
        top: -0.1em;
        width: 1em;
        height: 1em;
        fill: currentColor;
        vertical-align: middle;
      }
  
  
    .nav-scroller-btn--left {
      left: 0;
    }
  
    .nav-scroller-btn--right {
      right: 0;
    }
