$nav-scroller-scrollbar: 30px;
$nav-item-angle-height: 20px;
$nav-item-height: 82px;

.tabs {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.07);
}

.tabs-body {

}

.tabs-body__item {
  padding: 80px;
  display: none;

  &_active {
    display: block;
  }
}
  
.tabs-nav {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: $nav-item-angle-height + $nav-item-height;
  margin-bottom: $nav-item-angle-height + $nav-item-height * -1;
}
  
.tabs-nav__wrapper {
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  z-index: 1;
  align-self: center;

  // Hide scrollbar
  padding-bottom: $nav-scroller-scrollbar;
  margin-bottom: -$nav-scroller-scrollbar;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
  
.tabs-nav__content {
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
}
  
.tabs-nav__content {
  min-height: $nav-item-height; // Ensures full button is visible
  will-change: transform;

  &:not(.no-transition) {
    transition: transform .25s cubic-bezier(0.645, 0.045, 0.355, 1.000); // easeInOutCubic
  }
}
  
ul.tabs-nav__content {
  margin: 0;
  padding: 0;
  list-style: none;
}
  
.tabs-nav__item {
  flex: 1 0 auto;
  display: flex;
  padding: 0 16px;
  position: relative;
  border: none;
  align-items: center;
  justify-content: center;
  min-height: 82px;
  background: #f6f6f6;
  color: #696969;
  font-size: 16px;
  line-height: 1;
  text-align: center;
  border-left: 1px solid #fff; // border on both sides so all items are spaced evenly
  border-right: 1px solid #fff;

  &:first-child {
    border-left-color: transparent;
  }

  &:last-child {
    border-right-color: transparent;
  }

  &:hover {
    background: #dfdfdf;
    color: #000;
  }

  &_active {
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.19);
    background: #2e82b9;

    &::after {
      content: '';
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-top: 20px solid #2e82b9;
    }

    &:hover {
      background: #268dd1;
      color: rgb(255, 255, 255);

      &::after {
        border-top-color: #268dd1;
      }
    }
  }
}
  
.tabs-nav__btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  width: 20px;
  min-height: $nav-item-height;
  height: 100%;
  padding: .5rem;
  font-size: 1.25rem;
  color: #000;
  background: #fff;
  border: 1px solid #ddd;
  transition: color .3s, opacity .3s;
  cursor: pointer;

  &:hover {
    color: #666;
  }

  &:focus {
    outline: 0;
  }

  &:not(.active) {
    opacity: 0;
    pointer-events: none;
  }
}


.tabs-nav__btn_left {
  left: 0;
}

.tabs-nav__btn_right {
  right: 0;
}
