.product-body {
  padding-top: 45px;
  padding-bottom: 60px;

  @include below(sm) {
    padding-top: 30px;
  }
}

.product-body__tabs {
  margin-top: 37px;
}

.product-body__content {
  margin-left: 168px;
  margin-right: 168px;
  margin-top: 84px;

  @include below(lg) {
    margin-left: 0;
    margin-right: 0;
  }
}

.product-layout {
  display: flex;

  @include below(sm) {
    flex-direction: column;
  }
}

.product-layout__gallery {
  margin-right: 45px;
  width: 50%;
  max-width: 550px;
  flex-shrink: 0;

  @include below(md) {
    margin-right: 25px;
  }

  @include below(sm) {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.product-layout__intro {
  flex-grow: 1;
}

.product-layout__order {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-gallery {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.07);
  padding: 10px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.product-gallery__main {
  grid-column: span 3;
  grid-row: span 3;
  margin: 0;
  padding: 0;
  display: block;
  position: relative;

  @include below(md) {
    grid-column: span 4;
    grid-row: span 4;
  }

  @include below(sm) {
    grid-column: span 3;
    grid-row: span 3;
  }
}

.product-gallery__main-link {
  display: block;
  border: 1px solid #f2f2f2;
  padding: 4px;
  height: 100%;
  position: relative;

  &:hover {
    border-color: #dadada;
    box-shadow: inset 0 0 0 1px #dadada;
  }
  
  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &::after {
    content: '';
    width: 70px;
    height: 70px;
    border-radius: 35px;
    background: rgba(29,29,33,0.4) url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='15px' height='19px'%3E%3Cpath fill-rule='evenodd' fill='rgb(238, 238, 238)' d='M14.245,18.094 C13.580,18.568 12.664,18.402 12.200,17.722 L9.707,14.054 C6.907,15.117 3.657,14.191 1.868,11.574 C-0.255,8.469 0.490,4.192 3.532,2.024 C6.573,-0.144 10.761,0.616 12.884,3.721 C14.760,6.466 14.389,10.119 12.180,12.429 L14.609,16.005 C15.074,16.685 14.911,17.619 14.245,18.094 ZM11.369,4.891 C9.855,2.713 6.656,2.329 4.676,3.768 C2.697,5.208 2.213,8.047 3.594,10.109 C4.976,12.170 7.700,12.675 9.679,11.235 C11.658,9.796 12.883,7.069 11.369,4.891 Z'/%3E%3C/svg%3E") no-repeat 50% 50%;
    position: absolute;
    right: 8px;
    bottom: 8px;
  }

  &:hover::after {
    background-color: rgba(29,29,33,0.8);
  }
}

.product-gallery__main-order {
  position: absolute;
  overflow: hidden;
  right: 12px;
  top: 11px;
  cursor: pointer;
  width: 36px;
  height: 36px;
  border-radius: 18px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.17);
  border: 1px solid rgba(255, 255, 255, 0.8);
  transition: .5s ease;
}

.product-gallery__main-order:hover {
  border-color: rgb(45, 118, 166);
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.17);
  width: 268px;
}

.product-gallery__main-order::after {
  content: '';
  width: 18px;
  height: 14px;
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19px' height='14px' viewBox='0 0 15 11' fill='%232d76a6'%3E%3Cpath d='M0.794,10.758 L14.325,10.758 C14.362,10.758 14.398,10.750 14.430,10.735 L9.794,6.388 L7.559,9.093 L5.325,6.388 L0.689,10.735 C0.721,10.750 0.757,10.758 0.794,10.758 ZM0.547,10.383 L4.580,5.486 L0.547,0.604 L0.547,10.383 ZM0.869,0.240 L0.985,0.328 L7.559,7.340 L14.134,0.328 L14.250,0.240 L0.869,0.240 ZM14.572,0.604 L10.539,5.486 L14.572,10.383 L14.572,0.604 Z'%3E%3C/path%3E%3C/svg%3E");
}

.product-gallery__main-order span {
  position: absolute;
  font-size: 16px;
  color: #007fcd;
  white-space: nowrap;
  line-height: 1;
  right: 36px;
  top: 50%;
  transform: translateY(-50%);
}

.product-gallery__thumb {
  margin: 0;
  padding: 0;
  display: block;
  position: relative;
}

.product-gallery__thumb-link {
  display: block;
  border: 1px solid #f2f2f2;
  padding: 4px;

  &:hover {
    border-color: #dadada;
    box-shadow: inset 0 0 0 1px #dadada;
  }
  
  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.product-intro {

}

.product-intro__text {
  font-size: 18px;
  line-height: 1.4;

  h2 {
    margin: 0;
    font-weight: bold;
    font-size: calc(24em / 18);
    color: #f90;
  }

  * + h2 {
    margin-top: 1em;
  }

  p {
    margin: 0;
  }

  * + p {
    margin-top: 1em;
  }

  @include below(md) {
    font-size: 16px;
  }
}

.product-intro__more {
  margin-top: 37px;

  @include below(md) {
    margin-top: 1em;
  }
}

.content-appointment {
  display: flex;
  align-items: center;

  @include below(sm) {
    flex-direction: column;
  }
}

.content-appointment__image {
  margin-right: 60px;
  width: 60%;
  flex-shrink: 0;
  display: flex;
  justify-content: center;

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  @include below(md) {
    width: 50%;
    margin-right: 30px;
  }

  @include below(sm) {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.content-appointment__description {
  font-size: 18px;
  line-height: 1.4;
  color: #000000;
  flex-grow: 1;

  @include below(md) {
    font-size: 16px;
  }
}

.content-construction {
  border-bottom: 1px solid #bababa;
}

.content-construction__row {
  display: flex;
  align-items: center;
  border-top: 1px solid #bababa;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 22px;
  line-height: 26px;
  color: #000000;

  @include below(md) {
    font-size: 18px;
  }

  @include below(sm) {
    font-size: 16px;
    line-height: 24px;
    flex-direction: column;
  }
}

.content-construction__info {
  display: flex;
  flex-grow: 1;
  padding-top: 4px;
  padding-bottom: 14px;
}

.content-construction__number {
  width: calc(70em / 22);
  margin-right: calc(20em / 22);
  text-align: center;
  flex-shrink: 0;
}

.content-construction__description {
  flex-grow: 1;

  p {
    margin: 0;
  }

  * + p {
    margin-top: 1em;
  }
}

.content-construction__image {
  display: flex;
  justify-content: center;
  width: 50%;
  flex-shrink: 0;

  img {
    display: block;
    max-width: 100%;
  }

  @include below(sm) {
    margin-bottom: 20px;
    width: 100%;
    order: -1;
  }
}

.content-specifications {
  border-bottom: 1px solid #bababa;
}

.content-specifications__info {
  display: flex;
  flex-grow: 1;
}

.content-specifications__row {
  display: flex;
  border-top: 1px solid #bababa;
  padding-top: 6px;
  padding-bottom: 12px;
  font-size: 22px;
  line-height: 26px;
  color: #000000;

  &:nth-child(2n) {
    background: #f6f6f6;
  }

  @include below(md) {
    font-size: 18px;
  }

  @include below(sm) {
    font-size: 16px;
    line-height: 24px;
    flex-direction: column;
  }
}

.content-specifications__number {
  width: calc(70em / 22);
  margin-right: calc(20em / 22);
  text-align: center;
  flex-shrink: 0;
}

.content-specifications__name {
  flex-grow: 1;
}

.content-specifications__value {
  width: 50%;
  text-align: center;
  flex-shrink: 0;

  @include below(sm) {
    width: 100%;
    margin-top: 4px;
  }
}
