.contacts-layout {
  display: flex;
}

.contacts-body__info {
  width: 50%;
  padding-right: 60px;
}

.contacts-body__maps {
  width: 50%;
}

.contacts-groups {
  display: flex;

}

.contacts-groups__group {
  width: 50%;
  width: 50%;
}

.contacts-email {
  margin-right: 20px;
}

.contacts-email a {
  color: #2e82b9;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 24px;

  span {
    border-bottom: 1px dotted currentColor;
  }

  svg {
    display: block;
    margin-right: 12px;
    position: relative;
    fill: currentColor;
    top: 2px;
  }

  &:hover {
    color: #faaf00;
  }
}

.contacts-map {
  box-shadow: 0 0 5px rgba(0,0,0,0.24);
  background-color: #ffffff;
  border: 1px solid rgba(255,255,255,0.6);
  margin-top: -112px;
  min-height: calc(100% + 112px);
  display: flex;
  flex-direction: column;
}

.contacts-map__tabs {
  display: flex;
  min-height: 82px;
  position: relative;
  z-index: 20;
}

.contacts-map__tab {
  cursor: pointer;
  display: inline-flex;
  padding: 16px;
  flex-grow: 1;
  background-color: rgba(255,255,255,0.8);
  font-size: 18px;
  color: #696969;
  font-weight: 500;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.contacts-map__panels {
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 10;
  flex-grow: 1;
  display: flex;
}

.contacts-map__panel {
  width: 100%;
  display: none;
  animation: fadein .8s;

  > ymaps {
    height: 100% !important;
  }
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

.contacts-map__radio {
  display: none;
}

.contacts-map__radio:nth-child(1):checked ~ .contacts-map__panels .contacts-map__panel:nth-child(1),
.contacts-map__radio:nth-child(2):checked ~ .contacts-map__panels .contacts-map__panel:nth-child(2) {
  display: block;
}

.contacts-map__radio:nth-child(1):checked ~ .contacts-map__tabs .contacts-map__tab:nth-child(1),
.contacts-map__radio:nth-child(2):checked ~ .contacts-map__tabs .contacts-map__tab:nth-child(2) {
  color: #ffffff;
  font-weight: 700;
  text-shadow: 0px 2px 2px rgba(0,0,0,0.19);
  background: #2e82b9;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #2e82b9;

    @include below(sm) {
      border-left-width: 12px;
      border-right-width: 12px;
      border-top-width: 12px;
    }
  }
}

.contacts-form {
  background: #f6f6f6;
  padding: 30px 35px;
}

.contacts-form__title {
  font-size: 16px;
  line-height: 1;
  color: #333333;
  font-weight: 700;
}

.contacts-form__fields {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 8px;
}

.contacts-form__field:last-child {
  grid-row: 1 / 4;
  grid-column: 2 / 3;
  display: flex;
}

.contacts-form__file {
  margin-top: 7px;
}

.contacts-form__note {
  font-size: 12px;
  font-style: italic;
  color: #868686;
  line-height: 1;
  margin-top: 10px;
}

.contacts-form__rules {
  margin-top: 12px;
  color: #404040;
}

.contacts-form__submit {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.contacts-form__loader {
  display: none;
  ._mail-sending & {
    display: block;
  }
}

.contacts-form__success {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: none;
  ._mail-sent & {
    display: block;
  }
}

.contacts-form__failed {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: none;
  ._mail-failed & {
    display: block;
  }
}

.contacts-form-result {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.contacts-form-result__head {
  background: #2e82b9;
  display: flex;
  align-items: center;
  padding: 40px 20px;
  .contacts-form-result_success & {
    background: #2e82b9;
  }
  .contacts-form-result_failed & {
    background: #e48a00;
  }
}

.contacts-form-result__head-icon {
  width: 54px;
  height: 54px;
  flex-shrink: 0;
  border-radius: 50%;
  background: url('../images/bg-icon-result.jpg') no-repeat 50% 50%;
  background-size: cover;
  position: relative;
  margin-right: 20px;
}

.contacts-form-result__head-icon::before {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%) rotate(-45deg);
  width: 24px;
  height: 16px;
  border-left: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  margin-top: -3px;
}

.contacts-form-result__head-title {
  font-size: 20px;
  color: #fff;
  font-weight: 700;
  line-height: 1.2;
  text-align: left;
  text-shadow: 0 2px 5px rgb(0 0 0 / 44%);
}

.contacts-form-result__body {
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  flex-grow: 1;
}

.contacts-form-result__body-text {
  font-size: 18px;
  line-height: 1.25;
  color: #333;
  text-align: center;
}

.contacts-form-result__body-close {
  margin-top: 40px;
  line-height: 34px;
  font-size: 16px;
  padding: 0 20px;
  white-space: nowrap;
  border-radius: 18px;
  color: #2d76a6;
  cursor: pointer;
  border: 1px solid currentColor;
  &:hover {
    color: #faaf00;
  }
}
