.contacts-layout {
  display: flex;
}

.contacts-body__info {
  width: 50%;
  padding-right: 60px;
}

.contacts-body__maps {
  width: 50%;
}

.contacts-groups {
  display: flex;

}

.contacts-groups__group {
  width: 50%;
  width: 50%;
}

.contacts-email {
  margin-right: 20px;
}

.contacts-email a {
  color: #2e82b9;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 24px;

  span {
    border-bottom: 1px dotted currentColor;
  }

  svg {
    display: block;
    margin-right: 12px;
    position: relative;
    fill: currentColor;
    top: 2px;
  }

  &:hover {
    color: #faaf00;
  }
}

.contacts-map {
  display:flex;
  flex-direction: column;
  align-items: center;
}

.contacts-map__tab {
  cursor: pointer;
  padding:10px 20px;
  margin:0px 2px;
  background:#000;
  display:inline-block;
  color:#fff;
  border-radius:3px 3px 0px 0px;
  box-shadow: 0 0.5rem 0.8rem #00000080;
}

.contacts-map__panels {
  background:#fffffff6;
  box-shadow: 0 2rem 2rem #00000080;
  min-height:200px;
  width:100%;
  max-width:500px;
  border-radius:3px;
  overflow:hidden;
  padding:20px;  
}

.contacts-map__panel {
  display:none;
  animation: fadein .8s;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

.contacts-map__radio {
  display: none;
}

.contacts-map__radio:nth-child(1):checked ~ .contacts-map__panels .contacts-map__panel:nth-child(1),
.contacts-map__radio:nth-child(2):checked ~ .contacts-map__panels .contacts-map__panel:nth-child(2) {
  display: block;
}

.contacts-map__radio:nth-child(1):checked ~ .contacts-map__tabs .contacts-map__tab:nth-child(1),
.contacts-map__radio:nth-child(2):checked ~ .contacts-map__tabs .contacts-map__tab:nth-child(2) {
  background:#fffffff6;
  color:#000;
  border-top: 3px solid #000;
}

// #one:checked ~ .contacts-map__panels #one-panel,
// #two:checked ~ .contacts-map__panels #two-panel,
// #three:checked ~ .contacts-map__panels #three-panel{
//   display:block
// }
// #one:checked ~ .contacts-map__tabs #one-tab,
// #two:checked ~ .contacts-map__tabs #two-tab,
// #three:checked ~ .contacts-map__tabs #three-tab{
//   background:#fffffff6;
//   color:#000;
//   border-top: 3px solid #000;
// }
