.contacts-layout {
  display: flex;
}

.contacts-body__info {
  width: 50%;
  padding-right: 60px;
}

.contacts-body__maps {
  width: 50%;
}

.contacts-groups {
  display: flex;

}

.contacts-groups__group {
  width: 50%;
  width: 50%;
}

.contacts-email {

}

.contacts-email a {
  color: #2e82b9;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 1;

  span {
    border-bottom: 1px dotted currentColor;
  }

  svg {
    display: inline-block;
    margin-right: 12px;
    fill: currentColor;
  }

  &:hover {
    color: #faaf00;
  }
}
