.page-breadcrumbs {
  background: #215578;
  line-height: 1;
  color: #fff;
  font-size: 11px;
  letter-spacing: 0.01em;
  padding: 12px 0;

  a {
    text-decoration: none;
    color: #aac5d7;
    &:hover {
      color: #fff;
      text-decoration: underline;
    }
  }
}

.page-breadcrumbs__separator {
  display: inline-block;
  margin: 0 8px;
  width: 0;
  height: 0;
  border-left: 4px solid #aac5d7;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
}

.page-headline {
  background: #f6f6f6;
  padding-top: 30px;
  padding-bottom: 30px;
}

.page-headline__title {
  font-weight: bold;
  color: #215578;
  font-size: 60px;
  line-height: 1;
  margin: 0;
}

.page-headline__description {
  font-weight: 300;
  line-height: 1.25;
  font-size: 20px;
  color: #3f3f3f;
  margin-top: 10px;
}

.page-body {
  padding-top: 30px;
  padding-bottom: 30px;
}
