@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;600;700;800&display=swap');

body {
  font-family: 'Exo 2', sans-serif;
}

.ui-wrapper {
  overflow: hidden;
}

.ui-container {
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 1320px;
  max-width: 100%;
  box-sizing: border-box;
}

.ui-input {
  border: 2px solid rgb(195, 195, 195);
  background-color: rgb(255, 255, 255);
  border-radius: 2px;
  padding: 0 10px;
  height: 44px;
  font-size: 16px;
  color: #333;
  font-family: inherit;
  width: 100%;
  display: block;
  box-sizing: border-box;
}

.ui-textarea {
  border: 2px solid rgb(195, 195, 195);
  background-color: rgb(255, 255, 255);
  border-radius: 2px;
  padding: 18px 10px;
  font-size: 16px;
  color: #333;
  font-family: inherit;
  width: 100%;
  display: block;
  box-sizing: border-box;
}

.ui-button-submit {
  border: none;
  display: inline-block;
  align-items: center;
  padding: 6px 22px;
  border-radius: 4px;
  background: rgb(255, 220, 60);
  box-shadow: inset 0px -3px 0px 0px #e2b914;
  cursor: pointer;
  transition: .3s ease;
  transition-property: background, box-shadow;
  font-weight: bold;
  color: #333;
  font-size: 18px;
  line-height: 28px;
  transition: color .3s ease;
  text-align: center;
  box-sizing: border-box;
}

.ui-button-submit:hover {
  color: #000;
  background: rgb(255, 189, 37);
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.32), inset 0px -3px 0px 0px #cc930f;
}

.ui-button-more {
  border: 3px solid rgb(0, 80, 140);
  background-color: rgba(109, 57, 38, 0);
  border-radius: 3px;
  text-align: center;
  display: inline-block;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: rgb(0, 80, 140);
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: -0.005em;
  text-decoration: none;
  padding: 10px 30px;
}

.ui-button-more:hover {
  border-color: #ff9900;
  color: #f60;
}

.ui-arrow-right {
  display: inline-block;
  width: 17px;
  height: 11px;
  position: relative;
  vertical-align: middle;
}

.ui-arrow-right::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background: currentColor;
  top: 5px;
  left: 0;
}
.ui-arrow-right::after {
  content: '';
  position: absolute;
  width: 6px;
  height: 6px;
  border-right: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
  right: 0;
  top: 2px;
  transform: rotate(-45deg);
}
